PORT=8000
JWT_SECRET=same_as_auth_service
PAPER_SERVICE_URL=http://localhost:8001
AI_SERVICE_URL=http://localhost:8002
VECTOR_SERVICE_URL=http://localhost:8003
CITATION_SERVICE_URL=http://localhost:8004
AUTH_SERVICE_URL=http://localhost:8005